:host {
  display: flex;
  gap: 16px;
  justify-content: start;
  height: calc(100% - 100px);
  padding-bottom: 100px;
}
mat-card-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  vertical-align: middle;
  * {

  }
}
mat-card-actions {
  justify-content: end;
  button {
    &.edit {
      color: aqua;
    }
    &.del {
      color: red
    }
  }
}
