:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  height: calc(100% - 100px);
  padding-bottom: 100px;
}

mat-card-actions {
  justify-content: end;
  button {
    &.edit {
      color: aqua;
    }
    &.del {
      color: red
    }
  }
}
