:host {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
