<div class="left">
  <div class="big-icon"><mat-icon>edit_calendar</mat-icon></div>
  <div class="spacer"></div>
  <button mat-stroked-button (click)="_cancel()">Annuler</button>
</div>

<form [formGroup]="form" (submit)="_save()">
<mat-form-field>
  <mat-label>Date</mat-label>
  <input matInput type="date" placeholder="Date" formControlName="date">
</mat-form-field>
<mat-form-field>
  <mat-label>Heure</mat-label>
  <input matInput type="time" placeholder="Heure" formControlName="time">
</mat-form-field>
<mat-form-field>
  <mat-label>Où ?</mat-label>
  <input matInput formControlName="location">
</mat-form-field>

<button mat-flat-button [disabled]="!this.form.valid">Sauvegarder</button>
</form>
