<app-topbar></app-topbar>

<div class="content">
  <div class="left">
    <app-meetings class="hide-scroll" [meetings]="meetings" (edit)="edit($event)" (remove)="remove($event)"></app-meetings>
  </div>
  <div class="right">
    @if (mode != 'calendar' && _meeting) {
      <app-meeting-form class="hide-scroll" [meeting]="_meeting" (saved)="save($event)" (cancel)="reset()"></app-meeting-form>
    }
    @else {
      <app-calendar [meetings]="meetings" [year]="year" [month]="month"></app-calendar>
    }
  </div>
</div>

<button mat-fab class="add" (click)="add()"><mat-icon>add</mat-icon></button>
