<mat-grid-list cols="7" rowHeight="2:1">
  <mat-grid-tile>Lundi</mat-grid-tile>
  <mat-grid-tile>Mardi</mat-grid-tile>
  <mat-grid-tile>Mercredi</mat-grid-tile>
  <mat-grid-tile>Jeudi</mat-grid-tile>
  <mat-grid-tile>Vendredi</mat-grid-tile>
  <mat-grid-tile>Samedi</mat-grid-tile>
  <mat-grid-tile>Dimanche</mat-grid-tile>
  @for (emptyItem of [].constructor(empty); track emptyIdx; let emptyIdx = $index) {
    <mat-grid-tile></mat-grid-tile>
  }
  @for (calendarItem of [].constructor(maxDay); track calendarIdx; let  calendarIdx = $index) {
    <mat-grid-tile>
      <div class="tile">
        <div class="day">{{calendarIdx + 1}}</div>
        @for (eventItem of getMeetings(calendarIdx + 1); track eventItem.id; let eventIdx = $index) {
          <div class="event">
            {{eventItem.date | date : 'HH:mm'}} {{eventItem.location}}
          </div>
        }
      </div>
    </mat-grid-tile>
  }

</mat-grid-list>
