:host {
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  .fixed {
    display: flex;
    width: 200px;
    justify-content: center;
  }
}
.tile {
  height: 100%;
  width: 100%;
  padding: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  &:hover {
    background-color: rgba($color: #00ccff, $alpha: 0.2);
  }
}
.day {
  margin-bottom: 5px;
}
.event {
  background-color: darkcyan;
  color: white;
  border-radius: 9px;
  padding: 5px;
  z-index: 10;
  font-size: 14px;
  line-height: 14px;
  &:hover {
    cursor: pointer;
    background-color: rgb(1, 170, 170);
  }
}
.circles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  .circle {
    background-color: darkcyan;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: rgb(1, 170, 170);
    }
  }
}
