:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  .fixed {
    display: flex;
    width: 200px;
    justify-content: center;
  }
}
.tile {
  height: 100%;
  width: 100%;
  padding: 5px;
}
.day {
  margin-bottom: 5px;
}
.event {
  background-color: darkcyan;
  color: white;
  border-radius: 9px;
  padding: 5px;
}
